**/pkg/*
**/src/*
**/*.tar.gz
**/*.tar.bz2
**/*.tar.xz
**/*.tar.xz.sig
**/*.pkg.tar*
**/*.deb
**/*.zip
**/.BUILDINFO
**/.MTREE
**/.PKGINFO
.vscode/**
# Outputs by extra-x86_65-build
PKGBUILD-namcap.log
*-build.log
*-package_*.log
*-prepare.log
*.pkg.tar*-namcap.log