[Unit]
Description=Hadoop resource manager server

[Service]
Type=forking
User=hadoop
Group=hadoop
EnvironmentFile=/etc/conf.d/hadoop
ExecStart=/usr/lib/hadoop/bin/yarn --daemon start resourcemanager
ExecStop=/usr/lib/hadoop/bin/yarn --daemon stop resourcemanager
Restart=on-abnormal
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target